<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Translate</title>
		<link rel="stylesheet" href="static/css/style.css" />
	</head>
	<body>
		<form action="/submit" method="POST" enctype="multipart/form-data">
			<input type="text" name="name" placeholder="User"/>
			<input type="text" name="text" placeholder="Text(in English)" />
			<input type="submit" value="送信" />
		</form>
		<form action="/get" method="GET">
			<input type="submit" value="show logs" />
		</form>
		<form action="/delete" method="POST">
			<input type="submit" value="reset conversation" />
		</form>
		{% for data in datas %}
			<p>{{ data }}</p>
		{% endfor %}
		<p>{{ data }}</p>
	</body>
</html>
